<script props>
  module.exports = {};
</script>

<section class="main-section">
  <x-wrapper>
    <h1>Frontend builder</h1>
    <div class="main-section__content">
      <div class="main-section__img">
        <img src="/src/images/img-1.png" alt="img" width="760" height="560" />
      </div>
      <div class="main-section__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque qui vero pariatur odit. Sunt
        iure vel harum facilis, labore consectetur possimus molestias porro esse atque laudantium
        inventore, aspernatur nam beatae.
      </div>
    </div>
  </x-wrapper>
</section>
