<script props>
  module.exports = {};
</script>

<section class="about-section">
  <x-wrapper>
    <h2>Modals example</h2>

    <div class="about-section__item">
      <x-button data-remodal-target="privacy">Privacy modal</x-button>
    </div>
    <div class="about-section__item">
      <x-button data-remodal-target="modal-form-cooperation">Modal form cooperation</x-button>
    </div>
    <div class="about-section__item">
      <x-button data-remodal-target="modal-form-investment">Modal form investment</x-button>
    </div>
  </x-wrapper>
</section>
