<script props>
  module.exports = {};
</script>

<section class="finance-section">
  <x-wrapper>
    <h2>Form example</h2>

    <x-feedback-form>
      <div class="finance-section__field">
        <x-feedback-field-name />
      </div>
      <div class="finance-section__field">
        <x-feedback-field-phone />
      </div>
      <div class="finance-section__field">
        <x-feedback-field-email />
      </div>
      <div class="finance-section__field">
        <x-feedback-field-city />
      </div>
      <div class="finance-section__field">
        <x-feedback-field-answer />
      </div>
      <x-button type="submit">Задать вопрос</x-button>
    </x-feedback-form>
  </x-wrapper>
</section>
