@font-face
  font-family: "InterTight-Bold"
  src: url('src/fonts/InterTight-Bold.woff'), url('src/fonts/InterTight-Bold.woff2')
  font-display: swap

@font-face
  font-family: "Manrope-Bold"
  src: url('src/fonts/Manrope-Bold.woff'), url('src/fonts/Manrope-Bold.woff2')
  font-display: swap

@font-face
  font-family: "Manrope-ExtraBold"
  src: url('src/fonts/Manrope-ExtraBold.woff'), url('src/fonts/Manrope-ExtraBold.woff2')
  font-display: swap

@font-face
  font-family: "Manrope-Light"
  src: url('src/fonts/Manrope-Light.woff'), url('src/fonts/Manrope-Light.woff2')
  font-display: swap

@font-face
  font-family: "Manrope-Regular"
  src: url('src/fonts/Manrope-Regular.woff'), url('src/fonts/Manrope-Regular.woff2')
  font-display: swap
