@font-face
  font-family 'comfortaa-semi-bold'
  font-display swap
  src url('/src/fonts/Comfortaa-SemiBold.woff'), url('/src/fonts/Comfortaa-SemiBold.woff2')

@font-face
  font-family 'comfortaa-regular'
  font-display swap
  src url('/src/fonts/Comfortaa-Regular.woff'), url('/src/fonts/Comfortaa-Regular.woff2')
