@font-face
  font-family: "manrope-regular"
  font-display: swap
  src:
    url('/src/fonts/Manrope-Regular.woff'),
    url('/src/fonts/Manrope-Regular.woff2')

@font-face
  font-family: "manrope-light"
  font-display: swap
  src:
    url('/src/fonts/Manrope-Light.woff'),
    url('/src/fonts/Manrope-Light.woff2')

@font-face
  font-family: "manrope-extra-bold"
  font-display: swap
  src:
    url('/src/fonts/Manrope-ExtraBold.woff'),
    url('/src/fonts/Manrope-ExtraBold.woff2')

@font-face
  font-family: "manrope-bold"
  font-display: swap
  src:
    url('/src/fonts/Manrope-Bold.woff'),
    url('/src/fonts/Manrope-Bold.woff2')

@font-face
  font-family: "inter-tight-bold"
  font-display: swap
  src:
    url('/src/fonts/InterTight-Bold.woff'),
    url('/src/fonts/InterTight-Bold.woff2')
