.text-up
  text-transform uppercase
.text-init
  text-transform initial
.text-center
  text-align center
.text-left
  text-align left
.text-right
  text-align right
  background-color red
.text-ital
  font-style italic
.text-bold
  font-weight bold

.color-white
  color $color-white
.color-black
  color $color-black
.color-green-main
  color $color-green-main
.color-green-sub
  color $color-green-sub
.color-grey
  color $color-grey
  background-image: url("/src/images/logo-mobile.svg")
