@import '/src/styles/_variables'

*
  padding 0
  margin 0
  box-sizing border-box

html
  overflow-x hidden
  font-family 'comfortaa-regular'

body,
html
  width 100%
  height 100%

h1,
h2,
h3,
h4,
h5,
h6
  font-family 'comfortaa-semi-bold'
