@import '/src/styles/_variables'
@import '/src/styles/_fonts'
@import '/src/styles/_helpers'
@import '/src/components/**/*'

*
  padding 0
  margin 0
  box-sizing border-box

html
  overflow-x hidden

body,
html
  width 100%
  height 100%
