<script props>
  module.exports = {};
</script>

<section class="city-section">
  <x-wrapper>
    <h2>Swiper example</h2>
    <div class="city-section__swiper">
      <div class="swiper-city">
        <div class="swiper-wrapper">
          <div class="city-section__slide swiper-slide">
            <img class="city-section__img" src="/src/images/pic-1.jpg" alt="pic-1" />
          </div>
          <div class="city-section__slide swiper-slide">
            <img class="city-section__img" src="/src/images/pic-2.jpg" alt="pic-2" />
          </div>
          <div class="city-section__slide swiper-slide">
            <img class="city-section__img" src="/src/images/pic-3.jpeg" alt="pic-3" />
          </div>
        </div>
      </div>
    </div>
  </x-wrapper>
</section>
